//Fontes
$fonte: 'Nunito', sans-serif;

//Cores
$cor-primaria: #222B31;
$cor-secundaria: #171717;
$cor-terciaria: #E16428;
$cor-branco: #FFFFFF;
$cor-nome: #c4c4c4;

//Tamanho das fontes
$tamanho-texto: 1rem;